<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/web//lib//css/bootstrap.css">
  <script src="/web/lib/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="main">
    <div class="topbar">
      <!-- 顶部栏 -->
      <!-- 用fetch请求components的html模块 -->
    </div>
    <div class="box">
      <!-- 内容：title，author，新闻主题内容 -->
      <div class="content">
        <div class="title"></div>
        <div class="authorContainer" style="font-size:14px;color:gray">作者：<span class="author"></span></div>
        <hr>
        <div class="newscontent"></div>
      </div>
    </div>
  </div>
  <script src="index.js" type="module">

  </script>
</body>

</html>